20250929_mail-to-dashboard/gmail_workflow_step4.json
{
  "name": "Gmail受信メール処理ワークフロー（Step4）",
  "nodes": [
    {
      "parameters": {
        "folderId": "1cCiiz5tMpoGxzVRAWFgJNKPJ3tvzPyDN",
        "title": "{{ $('Gmail Trigger').item.json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }} - メール記録"
      },
      "id": "035b03e6-5a77-41c4-a1ad-c43441d2fd96",
      "name": "Google Docs作成",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [2416, 656],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ub3NiAYtTPduiS2f",
          "name": "o.mss.baske"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": ["Label_3"]
        },
        "options": {}
      },
      "id": "a095dedd-5af3-4a02-a9e8-e27d8e80f1e7",
      "name": "Gmail Trigger1",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [1536, 656],
      "credentials": {
        "gmailOAuth2": {
          "id": "epontFRIYTzDzq75",
          "name": "o.mss.baske"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender_name",
              "value": "={{ $('メール情報抽出').item.json.sender_clean }}"
            },
            {
              "name": "summary_content",
              "value": "={{ $json.data.choices[0].message.content }}"
            },
            {
              "name": "summary_extract",
              "value": "={{ $json.data.choices[0].message.content.split('【要約】')[1] ? $json.data.choices[0].message.content.split('【要約】')[1].split('【送信者】')[0].trim() : '要約なし' }}"
            },
            {
              "name": "next_action",
              "value": "={{ $json.data.choices[0].message.content.includes('【次のアクション】') ? $json.data.choices[0].message.content.split('【次のアクション】')[1].split('【締切/日付】')[0].trim() : 'なし' }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.data.choices[0].message.content.includes('【締切/日付】') ? $json.data.choices[0].message.content.split('【締切/日付】')[1].trim() : 'なし' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "560a619f-41a1-436a-9740-41dfa84dcd5d",
      "name": "要約結果統合",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2208, 656]
    },
    {
      "parameters": {
        "model": "chatgpt-4o-latest",
        "prompt": "以下のメール内容を要約して、以下の形式で日本語で返してください：\n\n【要約】\n・[箇条書きで要約]\n\n【送信者】{{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}\n【件名】{{ $json.payload.headers.find(h => h.name === 'Subject').value }}\n【日時】{{ new Date($json.internalDate * 1).toISOString() }}\n【ステータス】未対応\n【次のアクション】\n・[必要なアクションがあれば記載、なければ「なし」]\n【締切/日付】\n・[期限や重要な日付があれば記載、なければ「なし」]\n\n【メール本文】\n{{ $json.snippet }}",
        "options": {},
        "requestOptions": {}
      },
      "id": "1ccac75e-bbd1-4834-a13d-41b3a599f45c",
      "name": "OpenAI要約処理1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1984, 656],
      "credentials": {
        "openAiApi": {
          "id": "XyRIdbTfrpmBT5RK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.payload.headers.find(h => h.name === 'Subject').value }}"
            },
            {
              "name": "body",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "received_time",
              "value": "={{ new Date($json.internalDate * 1).toISOString() }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f3ddfac-fc74-44f8-844c-954d81870743",
      "name": "メール情報抽出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 656]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": ["Label_3"]
        },
        "options": {}
      },
      "id": "4f05ba45-26f1-4437-abde-04280760c87a",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [1184, 1056],
      "credentials": {
        "gmailOAuth2": {
          "id": "epontFRIYTzDzq75",
          "name": "o.mss.baske"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14C-p5DuT2Bumx_MxtJ1mLBF3P0J2u377mBzMXOdaw-E",
          "mode": "list",
          "cachedResultName": "Gmail-Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14C-p5DuT2Bumx_MxtJ1mLBF3P0J2u377mBzMXOdaw-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14C-p5DuT2Bumx_MxtJ1mLBF3P0J2u377mBzMXOdaw-E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["相手先"],
          "schema": [
            {
              "id": "相手先",
              "displayName": "相手先",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "最終更新日時",
              "displayName": "最終更新日時",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "最新要約",
              "displayName": "最新要約",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ステータス",
              "displayName": "ステータス",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "次のアクション",
              "displayName": "次のアクション",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "締切/日付",
              "displayName": "締切/日付",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "詳細ドキュメントリンク",
              "displayName": "詳細ドキュメントリンク",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "efe0d4c3-5a89-43d8-af50-ecd4363e50a1",
      "name": "Google Sheets更新",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [2064, 1200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aT4duvEXK4GnDBMK",
          "name": "o.mss.baske"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.payload.headers.find(h => h.name === 'Subject').value }}"
            },
            {
              "name": "body",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "received_time",
              "value": "={{ new Date($json.internalDate * 1).toISOString() }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af18820e-9f79-45f0-99a6-b0367e9178e6",
      "name": "メール情報抽出1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1408, 1056]
    },
    {
      "parameters": {
        "folderId": "1cCiiz5tMpoGxzVRAWFgJNKPJ3tvzPyDN",
        "title": "{{ $('Gmail Trigger').item.json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }} - メール記録"
      },
      "id": "266acec2-d804-4de3-9d4f-265a870f9230",
      "name": "Google Docs作成1",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [2064, 992],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ub3NiAYtTPduiS2f",
          "name": "o.mss.baske"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender_name",
              "value": "={{ $('メール情報抽出1').item.json.sender_clean }}"
            },
            {
              "name": "summary_content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "summary_extract",
              "value": "={{ $json.content.split('【要約】')[1] ? $json.content.split('【要約】')[1].split('【送信者】')[0].trim() : '要約なし' }}"
            },
            {
              "name": "next_action",
              "value": "={{ $json.content.includes('【次のアクション】') ? $json.content.split('【次のアクション】')[1].split('【締切/日付】')[0].trim() : 'なし' }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.content.includes('【締切/日付】') ? $json.content.split('【締切/日付】')[1].trim() : 'なし' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83702bd0-fab2-40e2-a1ef-5805395ddb79",
      "name": "要約結果統合1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1856, 1056]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "以下のメール内容を要約して、以下の形式で日本語で返してください：\n\n【要約】\n・[箇条書きで要約]\n\n【送信者】{{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}\n【件名】{{ $json.payload.headers.find(h => h.name === 'Subject').value }}\n【日時】{{ new Date($json.internalDate * 1).toISOString() }}\n【ステータス】未対応\n【次のアクション】\n・[必要なアクションがあれば記載、なければ「なし」]\n【締切/日付】\n・[期限や重要な日付があれば記載、なければ「なし」]\n\n【メール本文】\n{{ $json.snippet }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1424, 1296],
      "id": "9a6f1d70-ae94-4e89-b8d5-ac96868df7f6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "XyRIdbTfrpmBT5RK",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "メール情報抽出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "要約結果統合": {
      "main": [
        [
          {
            "node": "Google Docs作成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI要約処理1": {
      "main": [
        [
          {
            "node": "要約結果統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メール情報抽出": {
      "main": [
        [
          {
            "node": "OpenAI要約処理1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "メール情報抽出1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メール情報抽出1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "要約結果統合1": {
      "main": [
        [
          {
            "node": "Google Docs作成1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets更新",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "要約結果統合1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f23c6e7d-d65e-44b9-a791-c91222e3e365",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1451e7a7bb0426bca197410cee042a1d66b3f3dc166de0a060e1b75d661e8f9"
  },
  "id": "1y35KXgIoSjYFZyY",
  "tags": [
    {
      "createdAt": "2025-09-29T09:08:04.735Z",
      "updatedAt": "2025-09-29T09:08:04.735Z",
      "id": "CoueiOmq51e8qA0q",
      "name": "Gmail自動化"
    }
  ]
}
