20250929_mail-to-dashboard/gmail_workflow_step2.json
{
  "name": "Gmail受信メール処理ワークフロー（Step2）",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {}
      },
      "id": "d4f2c0a1-8b3e-4c5a-9d7f-1e2a3b4c5d6e",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.payload.headers.find(h => h.name === 'Subject').value }}"
            },
            {
              "name": "body",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "received_time",
              "value": "={{ new Date($json.internalDate * 1).toISOString() }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "メール情報抽出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "prompt": "以下のメール内容を要約して、以下の形式で日本語で返してください：\n\n【要約】\n・[箇条書きで要約]\n\n【送信者】{{ $json.sender_clean }}\n【件名】{{ $json.subject }}\n【日時】{{ $json.received_time }}\n【ステータス】未対応\n【次のアクション】\n・[必要なアクションがあれば記載、なければ「なし」]\n【締切/日付】\n・[期限や重要な日付があれば記載、なければ「なし」]\n\n【メール本文】\n{{ $json.body }}",
        "maxTokens": 500,
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-abcd-ef1234567890",
      "name": "OpenAI要約処理",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "={{ $json.data.choices[0].text }}"
            },
            {
              "name": "sender",
              "value": "={{ $('メール情報抽出').item.json.sender }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $('メール情報抽出').item.json.sender_clean }}"
            },
            {
              "name": "subject",
              "value": "={{ $('メール情報抽出').item.json.subject }}"
            },
            {
              "name": "received_time",
              "value": "={{ $('メール情報抽出').item.json.received_time }}"
            },
            {
              "name": "body",
              "value": "={{ $('メール情報抽出').item.json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8901-bcde-f23456789012",
      "name": "要約結果統合",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "メール情報抽出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メール情報抽出": {
      "main": [
        [
          {
            "node": "OpenAI要約処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI要約処理": {
      "main": [
        [
          {
            "node": "要約結果統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-29T08:30:00.000Z",
      "updatedAt": "2024-09-29T08:30:00.000Z",
      "id": "gmail-automation",
      "name": "Gmail自動化"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-29T08:30:00.000Z",
  "versionId": "1"
}
