20250929_mail-to-dashboard/gmail_workflow.json
{
  "name": "Gmail受信メール処理ワークフロー",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {}
      },
      "id": "d4f2c0a1-8b3e-4c5a-9d7f-1e2a3b4c5d6e",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.payload.headers.find(h => h.name === 'Subject').value }}"
            },
            {
              "name": "body",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "received_time",
              "value": "={{ new Date($json.internalDate * 1).toISOString() }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $json.payload.headers.find(h => h.name === 'From').value.split('<')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "メール情報抽出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "prompt": "以下のメール内容を要約して、以下の形式で日本語で返してください：\n\n【要約】\n・[箇条書きで要約]\n\n【送信者】{{ $json.sender_clean }}\n【件名】{{ $json.subject }}\n【日時】{{ $json.received_time }}\n【ステータス】未対応\n【次のアクション】\n・[必要なアクションがあれば記載、なければ「なし」]\n【締切/日付】\n・[期限や重要な日付があれば記載、なければ「なし」]\n\n【メール本文】\n{{ $json.body }}",
        "maxTokens": 500,
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-abcd-ef1234567890",
      "name": "OpenAI要約処理",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "={{ $json.data.choices[0].text }}"
            },
            {
              "name": "sender",
              "value": "={{ $('メール情報抽出').item.json.sender }}"
            },
            {
              "name": "sender_clean",
              "value": "={{ $('メール情報抽出').item.json.sender_clean }}"
            },
            {
              "name": "subject",
              "value": "={{ $('メール情報抽出').item.json.subject }}"
            },
            {
              "name": "received_time",
              "value": "={{ $('メール情報抽出').item.json.received_time }}"
            },
            {
              "name": "body",
              "value": "={{ $('メール情報抽出').item.json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8901-bcde-f23456789012",
      "name": "要約結果統合",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/YOUR_DOCUMENT_ID/edit",
        "actionsUi": {
          "action": [
            {
              "action": "appendText",
              "text": "\n\n---\n{{ $json.received_time }}\n{{ $json.summary }}\n---"
            }
          ]
        }
      },
      "id": "a3b4c5d6-e7f8-9012-cdef-345678901234",
      "name": "Google Docs追記",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "id",
          "value": "ダッシュボード"
        },
        "columns": {
          "value": {
            "A": "={{ $json.sender_clean }}",
            "B": "={{ $json.received_time }}",
            "C": "={{ $json.summary.split('【要約】')[1].split('【送信者】')[0].trim() }}",
            "D": "未対応",
            "E": "={{ $json.summary.includes('【次のアクション】') ? $json.summary.split('【次のアクション】')[1].split('【締切/日付】')[0].trim() : 'なし' }}",
            "F": "={{ $json.summary.includes('【締切/日付】') ? $json.summary.split('【締切/日付】')[1].trim() : 'なし' }}",
            "G": "https://docs.google.com/document/d/YOUR_DOCUMENT_ID/edit"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "b4c5d6e7-f8a9-0123-defa-456789012345",
      "name": "Google Sheetsダッシュボード更新",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "期限|締切|deadline|due|until|まで",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-1234-efab-567890123456",
      "name": "期限・アクション検出",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "mode": "id",
          "value": "primary"
        },
        "additionalFields": {
          "start": "={{ $now.plus(1, 'day') }}",
          "end": "={{ $now.plus(1, 'day').plus(1, 'hour') }}",
          "summary": "{{ $json.subject }} - フォローアップ",
          "description": "送信者: {{ $json.sender_clean }}\n要約: {{ $json.summary }}"
        }
      },
      "id": "d6e7f8a9-b0c1-2345-fabc-678901234567",
      "name": "Google Calendar予定追加",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "task": "@default",
        "title": "{{ $json.subject }} - 対応",
        "additionalFields": {
          "notes": "送信者: {{ $json.sender_clean }}\n受信時刻: {{ $json.received_time }}\n要約: {{ $json.summary }}"
        }
      },
      "id": "e7f8a9b0-c1d2-3456-gbcd-789012345678",
      "name": "Google Tasks追加",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "content": "✅ メール処理完了\n\n送信者: {{ $json.sender_clean }}\n件名: {{ $json.subject }}\n受信時刻: {{ $json.received_time }}\n\n✓ 要約完了\n✓ Docs追記完了\n✓ Sheets更新完了",
        "height": 220,
        "width": 350,
        "color": 5
      },
      "id": "f8a9b0c1-d2e3-4567-hcde-890123456789",
      "name": "処理完了通知",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1340, 600]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "メール情報抽出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メール情報抽出": {
      "main": [
        [
          {
            "node": "OpenAI要約処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI要約処理": {
      "main": [
        [
          {
            "node": "要約結果統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "要約結果統合": {
      "main": [
        [
          {
            "node": "Google Docs追記",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheetsダッシュボード更新",
            "type": "main",
            "index": 0
          },
          {
            "node": "期限・アクション検出",
            "type": "main",
            "index": 0
          },
          {
            "node": "処理完了通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "期限・アクション検出": {
      "main": [
        [
          {
            "node": "Google Calendar予定追加",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Tasks追加",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-29T08:30:00.000Z",
      "updatedAt": "2024-09-29T08:30:00.000Z",
      "id": "gmail-automation",
      "name": "Gmail自動化"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-29T08:30:00.000Z",
  "versionId": "1"
}
